:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #210e27;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "intertight", sans-serif;
}

/*
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/libre-baskerville.woff2") format("woff2");
}
*/
header {
  background-image: linear-gradient(180deg, #ebd7c4, #f2f2f2);
  width: 100%;
}

h1 {
  font-size: 3.5em;
  line-height: 1.2;
  font-family: "newsreader", serif;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
  font-family: "newsreader", serif;
  color: #a03e06;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0% 15% 0% 0%;
  justify-content: right;
  gap: 5rem;
}

nav a {
  padding: 1rem 0.5rem 1rem 0.5rem;
  text-decoration: none;
  color: #f6f0fa;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
}

nav a:hover {
  background-color: #b499d4;
  color: #2a1b3d;
  border-radius: 50px;
}

#header_text_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 15% 0 15%;
  flex-wrap: wrap;
}

#header_text {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  font-family: "newsreader", serif;
}

#profile_picture {
  width: 300px;
  height: auto;
  object-fit: cover;
  /* clip-path: ellipse(50% 50%); */
  border-radius: 10%;
}

#link {
  color: #691313;
  font-size: 18px;
  text-decoration: none;
  padding: 0.2rem;
  font-family: "intertight", sans-serif;
}
/*
#header_decoration_container {
  display: flex;
  justify-content: center;
  margin-top: -5rem;
  z-index: 1;
}

#header_decoration {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 1;
  max-height: 300px;
  opacity: 0.5;
}
*/

#header_subtext {
  display: flex;
  gap: 2rem;
}

#cv_button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 18px;
  align-self: center;
  border-radius: 30px;
  background-color: #140903;
  color: #f0decf;
  border-color: #140903;
  box-shadow: 2px 1.5px #331e076e;
}

#cv_button:hover {
  box-shadow: 3px 3px 3px #331e076e;
  cursor: pointer;
}

#contact_button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 18px;
  align-self: center;
  border-radius: 30px;
  color: #000000;
  background-color: #e9cdb4;
  border: 1px solid #140903;
  box-shadow: 2px 1.5px #331e076e;
}

#contact_button:hover {
  box-shadow: 3px 3px 3px #331e076e;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 15% 0% 15%;
}

section {
  width: 100%;
}

p {
  font-size: 18px;
  align-self: flex-start;
}

a {
  color: #691313;
  font-size: 18px;
  text-decoration: none;
  padding: 0.2rem;
}

#about_me {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: center;
  flex-wrap: wrap;
}

#about_me_text {
  max-width: 50%;
}

#about_me_info {
  border-radius: 10px;
  max-width: 425px;
  width: 100%;
}

#about_me_info ul {
  list-style: none;
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: auto;
}

#about_me_info ul li#title {
  color: #a03e06;
  font-weight: 700;
  font-size: 20px;
  margin-top: 0.5rem;
  font-family: "newsreader", serif;
}

#about_me_info ul li#info {
  border-bottom: 2px #a03e064d solid;
}

#about_me_info ul li {
  font-size: 18px;
  padding: 0.2rem;
}

#experience_container {
  display: flex;
  margin-top: 5rem;
  text-align: center;
  width: 100%;
}

#experience h2 {
  text-align: left;
}

#experience_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  max-width: 100%;
  min-height: 200px;
  max-height: 300px;
  overflow: hidden;
}

#experience_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

#skills_header {
  font-weight: 600;
  font-size: 22px;
  list-style: none;
  padding: 2rem 0 0.5rem 0;
  font-family: "newsreader", serif;
  color: #a03e06;
  border-bottom: 2px #a03e064d solid;
  width: 100%;
}

#design_skills {
  width: 25%;
}

#frontend_skills {
  width: 25%;
}

#backend_skills {
  width: 25%;
}

#skills_point {
  list-style: none;
  padding: 0.4rem;
  font-size: 18px;
}

#projects {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 400px;
  min-height: 200px;
  max-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
  background-color: #e9cdb4;
  padding: 0.5rem;
}

.project h2 {
  font-weight: 650;
  font-size: 30px;
  padding: 0.25rem;
}

.project p {
  margin: 0.5rem;
}

.project_tags {
  opacity: 0.8;
  font-size: 16px;
  margin: 1rem;
}

#to_projects {
  max-width: 150px;
  padding: 0.6rem;
  font-size: 18px;
  align-self: center;
  border-radius: 20px;
  margin: 3rem;
  background-color: #643317;
  color: #f0decf;
  border: none;
  text-decoration: none;
}

#to_projects:hover {
  background-color: #351a0b;
  color: #f0decf;
  box-shadow: 3px 3px 3px #331e076e;
}

/*
footer {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 5% 15% 0 15%;
}

footer p {
  font-size: 18px;
}
*/
